<div class="navbar navbar-inverse">
  <div class="navbar-inner">
  	<div class="container-fluid">
    	<a class="brand" href="#">ToDo</a>
    	<div class="pull-right">
    		<button class="btn btn-success" type="button">Register</button>
    		<button id="loginButton" class="btn btn-primary" type="button">Login</button>
    	</div>
    </div>
  </div>
</div>