<div class="span6 offset3">
<form class="form-horizontal" id="loginForm">

	<legend>Sign in</legend>
	<div class="control-group row-fluid" >
		<label class="control-label" for="email">Email</label>
		<div class="controls">
			<input type="text" class="input-medium" id="email" placecholder="Email" name="email" data-error-style="inline">
		</div>
	</div>

	<div class="control-group row-fluid">
		<label class="control-label" for="password">Password</label>
		<div class="controls">
			<input type="password" class="input-medium" id="password" name="password" placecholder="password" data-error-style="inline">
		</div>
	</div>

	<div class="control-group row-fluid">
		<div class="controls">
		<label class="checkbox">
			<input type="checkbox"> Remember me
		</label>
		</div>
	</div>
	<div class="form-actions">
		<button type="submit" class="signin btn">Sign in</button>
	</div>
	</div>
</form>
</div>
<div class="span3"></div>
